In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [50]:
miserie = pd.Series()

In [51]:
df  = pd.DataFrame()

In [52]:
p = pd.Panel()

In [53]:
print(miserie, df, p, sep = '\n'*2)

Series([], dtype: float64)

Empty DataFrame
Columns: []
Index: []

<class 'pandas.core.panel.Panel'>
Dimensions: 0 (items) x 0 (major_axis) x 0 (minor_axis)
Items axis: None
Major_axis axis: None
Minor_axis axis: None

In [54]:
miserie = pd.Series({'a':100, 'b':500, 'c':200, 'd':100})

In [55]:
print(miserie)

a    100
b    500
c    200
d    100
dtype: int64

In [56]:
miserie['d']

100

In [57]:
#help(pd.Series)

In [58]:
#help(list)

In [59]:
lista = [100,200,300,400]
diccionario = {'a':100, 'b':200, 'c':300, 'd':400}
type(diccionario)

dict

In [60]:
#creación desde una lista, le agrego mi propio indice, ya que por defecto será 0,1,2..,n
serie1 = pd.Series(data=lista, index=['a','b','c','d'], name ='Mi primera lista')

In [61]:
print(serie1)

a    100
b    200
c    300
d    400
Name: Mi primera lista, dtype: int64

In [62]:
serie2 = pd.Series(data = diccionario, name = 'Segunda lista diccionario')

In [63]:
print(serie2)

a    100
b    200
c    300
d    400
Name: Segunda lista diccionario, dtype: int64

In [64]:
s3 = np.asarray(lista)
print(s3)
s4 = np.asanyarray(diccionario)
print(s4)

[100 200 300 400]
{'a': 100, 'b': 200, 'c': 300, 'd': 400}

In [65]:
serie1['a']

100

In [66]:
serie1[0:3]

a    100
b    200
c    300
Name: Mi primera lista, dtype: int64

In [67]:
serie1['a':'c']

a    100
b    200
c    300
Name: Mi primera lista, dtype: int64

In [68]:
serie1['e'] = 500

In [69]:
serie1

a    100
b    200
c    300
d    400
e    500
Name: Mi primera lista, dtype: int64

## DataFrame

Un DataFrame puede considerarse un diccionario de Series.Tien filas(indices>>index) y columnas(pueden ser datos diferentes)
Se le pueden añadir nuevas columnas

In [82]:
df1 = pd.DataFrame(np.random.randn(10,3), columns=['col1', 'col2','col3'], index=range(1,11))
df1

        col1      col2      col3
1  -1.355673  1.669800 -0.897982
2  -0.250382  0.899055  0.098297
3  -0.645164 -0.314018  0.000110
4  -0.760790  1.285654  0.000666
5   2.102670 -0.059877 -0.875878
6  -1.504627  2.216025  1.420756
7   1.032805 -1.027761  0.488758
8   0.434816 -0.311276  2.037930
9   0.091741 -0.309013  1.007044
10  0.762323  1.710112  0.180003

In [83]:
df1.index

RangeIndex(start=1, stop=11, step=1)

In [96]:
print(df1['col1'])

1    -1.355673
2    -0.250382
3    -0.645164
4    -0.760790
5     2.102670
6    -1.504627
7     1.032805
8     0.434816
9     0.091741
10    0.762323
Name: col1, dtype: float64

In [95]:
df1.columns

Index(['col1', 'col2', 'col3'], dtype='object')